<h1>Account Verification with Ruby on Rails</h1>

<p>This demo application will show you how to implement user account verification with Twilio-powered @Html.ExternalLink("http://authy.com", "Authy!") (powered by @Html.ExternalLink("http://twilio.com", "Twilio")) in ASP.NET MVC.
<p>@Html.ActionLink("Sign Up", "Register", "Account", null, null) for an account to see how it works!</p>